@charset "UTF-8";

/* --- Styles par défaut --- */

body, html { background-color:#E5E5E5; }

#page_content h1 {
    font-size:18px;
    font-weight:bold;
    text-shadow:1px 1px #E5E5E5;
    text-align:center;
		color:#33332F;
		margin-bottom:15px;
		font-family:"Arial", Arial, sans-serif;
}

#page_content h2 {
    font-size:14px;
    font-weight:bold;
		color:#33332F;
		margin:12px 0;
		font-family:"Arial", Arial, sans-serif;
}

#page_content p {
    font-size:11px;
    margin-bottom:10px;
		color:#33332F;
		text-align:justify;
		font-family:"Arial", Arial, sans-serif;
}

#page_content a {
    font-size:1em;
    margin-bottom:10px;
		color:#50A5D7;
}

#page_content .pic_align {
	float:left;
	width:270px;
	margin:0 14px;
}

#page_content .pic_align p {
  text-align:center;
  color:#666666;
  font-style:italic;
  margin-top:4px;
  font-family:"Arial", Arial, sans-serif;
  font-size:11px;
}

#page_content .pic {
  display:block;
}

#page_content ul {
	margin-bottom:10px;
	padding-left:50px;
	font-family:"Arial", Arial, sans-serif;
  font-size:11px;
}

#page_content li {
	color:#33332F;
	list-style:disc;
  font-family:"Arial", Arial, sans-serif;
  font-size:11px;
	padding-bottom:3px;
}


/* Mise en page globale */

#page_wrapper {
	background-color:#50A5D7;
	padding:30px 0;
	min-height:500px;
}

#page_content {
	width:900px;
	margin:20px auto;
	padding:12px 30px;

	background-color:white;

	-webkit-border-radius:12px;
  -khtml-border-radius:12px;
  -moz-border-radius:12px;
  -o-border-radius:12px;
	border-radius:12px;
	behavior: url(/stylesheets/PIE.htc);
	position: relative;
}

