@charset "UTF-8";

/* --- Styles par défaut --- */

* {
	font-family:"Arial", Arial, sans-serif;
	font-size:12px;
	color:#33332F;
}

body, html { background-color:#E5E5E5; }

h1 {
    font-size:2em;
    font-weight:bold;
    text-shadow:1px 1px #E5E5E5;
    text-align:center;
		color:#33332F;
		margin-bottom:15px;
}

h2 {
    font-size:1.5em;
    font-weight:bold;
		color:#33332F;
		margin:12px 0;
}

#page_content p {
    font-size:1.2em;
    margin-bottom:10px;
		color:#33332F;
		text-align:justify;
}

#page_content a {
    font-size:1em;
    margin-bottom:10px;
		color:#50A5D7;
}

.center {
	text-align:center;
}

#page_content ul {
	margin-bottom:10px;
	padding-left:50px;
}

#page_content li {
	font-size:1.2em;
	color:#33332F;
	list-style:disc;

	padding-bottom:3px;
}


/* Mise en page globale */

#page_wrapper {
	background-color:#50A5D7;
	padding:30px 0;
	min-height:500px;
}

#page_content {
	width:900px;
	margin:20px auto;
	padding:12px 30px;

	background-color:white;

	-webkit-border-radius:12px;
  -khtml-border-radius:12px;
  -moz-border-radius:12px;
  -o-border-radius:12px;
	border-radius:12px;
	behavior: url(/stylesheets/PIE.htc);
	position: relative;
}

