.best_laptop {
  float:left;
  width:210px;
  height:350px;
  margin-top:20px;
  padding:0;
  color:#33332F;
}

.best_laptop h3 strong {
  font-size:1.1em;
  font-weight:bold;
  color:#33332F;
  text-shadow:none;
  text-align:center;
}

.best_laptop h3 {
  font-size:1.0em;
  font-weight:bold;
  color:#50A5D7;
  text-shadow:none;
  margin:0;
  text-align:center;
}

.best_laptop_main {
  border:1px solid #E5E5E5;
  height:215px;
  margin-top:3px;
  width:205px;
  text-align:center;
  background-image:url('../images/best_laptop/best_laptop_offer.png');
  background-repeat:repeat-x;
  padding-bottom:12px;
  background-position: 0 170px;
}

.best_laptop_pic {
  padding:2px;
  text-align:center;
}

.best_laptop_pic img {
  text-align:center;
}

.best_laptop_offer{
  height:48px;
  margin-top:20px;
}

.best_laptop_price {
  width:81px;
  margin-left:10px;
  float:left;
}

.best_laptop_price .price_from {
  font-size:0.9em;
  margin-top:2px;
  margin-bottom:2px;
  text-align:center;
}

.best_laptop_price .best_price {
  font-weight:bold;
  font-size:1.7em;
  text-align:center;
  color:#33332F;
}

.best_laptop_price .best_price .cents {
  font-size:0.8em;
  text-align:center;
  color:#33332F;
}

.best_laptop_retailer {
  float:left;
  width:90px;
  margin-left:20px;  
}

p.best_retailer_text {
  font-size:0.8em;
  margin-top:2px;
  margin-bottom:2px;
  text-decoration:underline;
  text-align:center;
}

#best_laptops .best_retailer_text{
  color:#50A5D7;
}

img.best_retailer_logo {
  width:80px;
}

.best_laptop_description {
  text-align:justify;
  margin-top:10px;
  margin-left:5px;
  margin-right:5px;
  font-style: italic;
}

a {
  text-decoration:none;
}
