@charset "UTF-8";

/* --- Styles par défaut --- */

* {
	font-family:"Arial", Arial, sans-serif;
	font-size:12px;
	color:#33332F;
}

body, html { background-color:#50A5D7; }

h1 {
    font-size:3em;
    font-weight:bold;
    text-shadow:1px 1px #666666;
    text-align:center;
		color:white;
}

h2 {
    font-size:1.5em;
    font-weight:bold;
    text-shadow:1px 1px #E5E5E5;
    text-align:center;
    margin-bottom:10px;
}

h3 {
    font-size:1.2em;
    font-weight:bold;
    text-align:center;
    margin-bottom:10px;
}

p {
  text-align:justify;
}

strong {
	font-weight:bold;
	color:inherit;
	font-size:inherit;
}

.no_underline { text-decoration:none; }

/* --- Mise en page générale --- */

#catalogue {
  background-color:#50A5D7;
	margin:0px auto;
}

.clearfix { clear:both; }

#top {
	margin:0px auto 15px auto;
	padding:15px 0;
	background-color:#50A5D7;
}

#middle {
	width:960px;
	margin:0px auto;
}

#full_list {
	width:960px;
	margin:20px auto 10px auto;
	padding:12px 0 35px 0;

	background-color:white;

	-webkit-border-radius:12px;
  -khtml-border-radius:12px;
  -moz-border-radius:12px;
  -o-border-radius:12px;
	border-radius:12px;
}

/* --------------------------------
#top = Titre
-------------------------------- */

.subtitle {
    font-size:1.2em;
    color:white;
    font-style:italic;
    text-align:center;
    margin-top:5px;
}

/* --------------------------------
#middle = Filtres
-------------------------------- */
/*Mise en page sur 2 colonnes */
#filters {
	width:617px;
        height:177px;
	float:left;
	padding:12px;
	background-color:white;
  border:1px solid #E5E5E5;
  -webkit-border-radius:12px;
	-khtml-border-radius:12px;
	-moz-border-radius:12px;
	-o-border-radius:12px;
	border-radius:12px;
}

#wizard_box {
  float:left;
	width:266px;
        height:177px;
	padding:12px 12px 13px 12px;
	margin:auto 0px auto 25px;

  background-color:white;
  border:1px solid #E5E5E5;
  -webkit-border-radius:12px;
	-khtml-border-radius:12px;
	-moz-border-radius:12px;
	-o-border-radius:12px;
	border-radius:12px;
}

/* --- Filtres --- */

/* Mise en page */
#top_filters {
	width:617px;
}

#specs_filters {
	margin:8px auto 0 auto;
}

/* Top filters : texte & prix */
#infos {
	width:320px;
	float:left;
}

#price_filter {
	float:right;
	width:270px;
	display:block;
	background-color:#F5F5F5;
	padding:6px;
	margin-left:15px;
	-webkit-border-radius:4px;
  -khtml-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
	border-radius:4px;
}

/* Infos */
.explain {
	font-size:1em;
	color:#666666;
	font-style:italic;
}

/* Prix */
.price_slider {
	margin:5px auto 5px 12px;
	padding:0 18px 0 10px;
}

.price_slider p {
	margin-bottom:5px;
	color:#33332F;
	text-align:center;
	font-weight:bold;
	font-size:1em;
}

#price_display {
	border:none;
	color:#50A5D7;
	width:100px;
	font-weight:bold;
	background-color:transparent;
}

/*Specs*/
.sliderStyle {
	width:165px;
	margin:6px 0;
	padding:0 18px;
	float:left;
}

.sliderStyle p {
	text-align:center;
	margin-bottom:3px;
	color:#33332F;
	font-weight:bold;
	font-size:1em;
}

.sliderStyle input {
	width:62px;
	border:none;
	color:#50A5D7;
	font-weight:bold;
	background-color:transparent;
}



#display_1, #display_2, #display_3, #display_4, #display_5, #display_6 {

}

/* --- CTA vers le wizard --- */

.wizard_emphasis {
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
	margin-top:5px;
}

.wizard_button {
    width:227px;
    height:42px;
    margin:5px auto 0 auto;
    background-image:url('/images/catalogue/wizard_button.png');
}

.wizard_button:hover { background-image:url('/images/catalogue/wizard_button_hover.png'); }

.label {
    padding:8px 0 0 12px;
    font-size:1.8em;
    color:white;
    text-shadow:1px 1px #666666;
}

/* --- Classes jQuery UI utilisées --- */
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #56DC70 url('/images/catalogue/slider_bckg.png');
}

.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius:4px;
	-o-border-radius:4px;
	border-radius: 4px;
}

.ui-slider-handle {
	background: url('/images/catalogue/slider_handle.png');
}

.ui-slider-handle:focus {
	outline:none;
}

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: url('/images/catalogue/slider_handle_hover.png');
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: url('/images/catalogue/slider_handle_hover.png');
}

/* Dimensions des sliders */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 16px; height: 16px; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: 9px; }
.ui-slider-horizontal .ui-slider-handle { top: -4px; margin-left: -9px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

/* ---------------------------------------
Tableau des PC
--------------------------------------- */

#list {
	width:960px !important;
}

/* Bordures */
#list td, #list th {
	border-width:2px 1px;
	border-style:solid;
	border-color:#E5E5E5;
	text-align:center;
}

/* Eléments autour de la table : recherche, pagination, etc */
.dataTables_length {
	float:right;
	margin-bottom:5px;
	margin-right:10px;
	color:#33332F;
	font-size:1em;
}

.dataTables_filter {
	float:left;
	margin-bottom:5px;
	margin-left:10px;
	color:#33332F;
	font-weight:bold;
	font-size:1.2em;
}

.dataTables_filter input {
	border:1px solid #E5E5E5;
	color:#666;
	font-weight:normal;
	padding:2px;
	width:200px;
	-webkit-border-radius:4px;
  -khtml-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
	border-radius:4px;
}

.dataTables_info {
	font-style:italic;
	float:left;
	color:#666;
	margin:11px 0px 11px 10px;
}

.dataTables_paginate {
	float:right;
	padding:8px 12px 12px 0;
}

.paging_full_numbers {
	color:#666;
	margin:5px 2px 5px 2px;
}

.paginate_button {
	color:#50A5D7;
	padding:2px;
	margin:5px 2px 5px 2px;

	-webkit-border-radius:4px;
  -khtml-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
	border-radius:4px;
}

.paginate_active {
	background-color:#50A5D7;
	padding:2px 4px;
	color:white;
	font-weight:bold;
	margin:5px 2px 5px 2px;
	border:1px solid #E5E5E5;
	-webkit-border-radius:4px;
  -khtml-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
	border-radius:4px;
}

.paginate_button:hover {
	background-color:WhiteSMoke;
	padding:2px;
	margin:5px 2px 5px 2px;
	cursor:default;
	text-decoration:underline;
	-webkit-border-radius:4px;
  -khtml-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
	border-radius:4px;
}

/* En-têtes */
thead {
	background-image:url(/images/catalogue/table-header-bckg.gif);
}

th {
	height:30px;
	padding:2px 15px 2px 6px;
	text-align:center;

	font-size:1em;
	font-weight:bold;
	text-shadow:1px 1px 0 #E5E5E5;
}

.sorting {
	background-image:url(/images/catalogue/small.gif);
	background-position:95% 50%;
	background-repeat:no-repeat;
}

.sorting_asc {
	background-color:#999;
	background-image:url(/images/catalogue/small_asc.gif);
	background-position:95% 50%;
	background-repeat:no-repeat;
}

.sorting_desc {
	background-color:#999;
	background-image:url(/images/catalogue/small_desc.gif);
	background-position:95% 50%;
	background-repeat:no-repeat;
}

/* --- Cellules --- */

#list td {
	padding:2px;
}

/* Thumbnail, marque, modèle */
.product_info {
	width:230px;
}

.thumbnail {
	width:90px;
	float:left;
	vertical-align:middle;
}

.product_name {
	float:left;
	margin:8px 0 0 5px;
}

h4 {
	text-align:left;
	text-transform:uppercase;
	font-size:1.1em;
	font-weight:bold;
}

.model {
	color:#666666;
	font-size:0.9em;
	margin-top:3px;
	text-align:left;
}

.more {
	margin-top:5px;
	color:#036CAA;
	font-size:0.9em;
	text-align:left;
	text-decoration:underline;
}

/* Prix */
.from {
	font-size:2em;
	font-weight:bold;
	text-align:center;
}

.from small {
		font-size:0.5em;
}

/*Specs */
.spec_rating {
	font-size:2em;
	font-weight:bold;
	text-align:center;
}

.spec_rating small {
		font-size:0.5em;
}

.specs_value {
	font-size:1em;
	font-weight:normal;
	text-align:center;
	color:#666;
}

/*Rang au survol*/
#list tbody tr.even:hover, #list tbody tr.even td.highlighted {
	background-color:#E5E5E5;
}

#list tbody tr.odd:hover, #list tbody tr.odd td.highlighted {
	background-color:#E5E5E5;
}

#list tr.even:hover {
	background-color:#E5E5E5;
}

#list tbody tr.even:hover .sorting_1, #list tbody tr.even td.highlighted {
	background-color:white;
}

#list tbody tr.odd:hover .sorting_1, #list tbody tr.odd td.highlighted {
	background-color:white;
}

#list tr.even:hover .sorting_1 {
	background-color:white;
}

