/* ---------------------------
Footer
--------------------------- */

#footer p, #footer a {
	color:#666;
	margin:5px auto 15px auto;
	text-decoration:none;
}

#footer {
	width:960px;
	margin:0px auto;
        clear:both;
}

.footer_left { float:left; }

.footer_right { float:right; }

