/* ---------------------------
Header
--------------------------- */

#header {
	background-image:url('/images/home/header_bckg.png');
	margin:0px auto;
}

.clearfix { clear:none; }


/* Header */
.wrapper {
	width:960px;
	padding:10px 0;
	margin:0 auto;
}

#menu {
	float:right;
	margin-top:17px;
}

#menu ul {
	list-style-type:none;
	display:block;
}

#menu li {
	display:inline;
	float:left;

	padding:5px 0px 6px 16px;
}

#menu a {
	color:white;
	font-size:1.4em;
	text-decoration:none;
}

#menu a:hover {
	color:#94eba5;
}

.wizard_incentive_text  {
  width:130px;
  color:#56DC70;
  text-align:center;
  margin-right:15px;
}

.wizard_incentive_text p  {
  color:inherit;
}

.wizard_incentive_text strong {
  font-weight:bold;
  color:inherit;
}

.wizard_header_button {
  background-image:url('../images/wizard_header_button.png');
  width:160px;
  height:20px;
}

.wizard_header_button:hover {
  background-image:url('../images/wizard_header_button_hover.png');
}

#menu .wizard_header_button a:hover { color:white; }

.arrow {
  position:absolute;
  z-index:1;
  margin:-55px 0 0 20px;
}

