/* ---------------------------
Header
--------------------------- */

#header {
	background-image:url('/images/home/header_bckg.png');
	margin:0px auto;
}

.clearfix { clear:both; }

#logo {
  float:left;
  display:block;
}

/* Header */
.wrapper {
	width:960px;
	padding:10px 0 0 0;
	margin:0 auto;
}

#header_menu {
	float:right;
	margin-top:17px;
	margin-bottom:10px;
}

#header_menu ul {
	list-style-type:none;
	display:block;
	margin:0;
	font-size:14px;
}

#header_menu li {
	display:inline;
	float:left;
	margin:0;
	list-style:none;
	font-family:"Arial", Arial, sans-serif;
	color:white;
}

#header_menu li.header_text_link {
	padding:6px 0px 6px 16px;
}

#header_menu li div.wizard_header_button {
  padding:6px 0px 6px 16px;
  margin-right:16px;
}

#header_menu li div.wizard_header_button {
  color:white;
}

#header_menu a, #header_menu p {
	color:white;
	font-size:1.4em;
	text-decoration:none;
	margin:0px;
	font-family:"Arial", Arial, sans-serif;
}

#header_menu a:hover {
	color:#94eba5;
}

#header_menu .wizard_incentive_text  {
  width:135px;
  height:27px;
  text-align:center;
  margin-right:15px;
  margin-top:5px;
}

#header_menu .wizard_incentive_text p  {
  color:#56DC70;
  font-size:12px;
  font-style:inherit;
  text-align:center;
}

#header_menu .wizard_incentive_text strong {
  font-weight:bold;
  color:#56DC70;
  font-size:12px;
  font-style:inherit;
  text-align:center;
}

#header_menu .wizard_header_button {
  background-image:url('/images/wizard_header_button.png');
  width:160px;
  height:19px;
}

#header_menu .wizard_header_button:hover {
  background-image:url('/images/wizard_header_button_hover.png');
}

#header_menu .wizard_header_button a:hover { color:white; }

#header_menu .arrow {
  position:relative;
  z-index:1;
  top:-52px;
  left:43px;
}

/* Disclaimer for IE6 */

#ie6_disclaimer {
  display:none;
}

#ie6_wrapper {
  display:none;
}

