/* ---------------------------
Styles par défaut
--------------------------- */

* {
	font-family:"Arial", Arial, sans-serif;
	font-size:12px;
	color:white;
}

body, html { background-color:white; }

/* ---------------------------
Home
--------------------------- */

#home {
	background-color:#50A5D7;
	margin:0px auto;
	padding:15px 0;
}

/* --- Title ---*/
.explain {
	text-align:center;
	font-size:1.4em;
	padding:15px 0 25px 0;
}

strong {
	font-size:inherit;
	font-weight:bold;
}

/* --- Steps --- */

#steps_grid {
	margin:0px auto;
}

.step {
	display:block;
	float:left;
}

.left {
	width:62px;
	float:left;
	display:block;
}

.right {
	width:218px;
	float:left;
}

.top {
	height:216px;
	display:block;
	margin:0 auto;
}

.bottom {
	height:62px;
}

.vspacer { 
	width:30px;
	height:278px;
	float:left;
}

h1 {
	font-size:1.6em;
	font-weight:solid;
	text-shadow:1px 1px #33332F;
	margin: 10px 0 0 0;
}

.subtitle {
	font-size:1.1em;
	font-style:italic;
}

.hspacer {
	padding:15px 0 0 0;
}

/* --- Bouton --- */

.button {
	margin:15px auto;
	height:30px;
	width:235px;
	background-image:url('/images/home/home_button.png');
	font-size:2.1em;
	text-shadow:1px 1px #666;
	padding:18px 25px;
}

.button:hover {
	background-image:url('/images/home/home_button_hover.png');
}

.no_underline { text-decoration:none; }
