/* ---------------------------
Styles par défaut
--------------------------- */

* {
	font-family:"Arial", Arial, sans-serif;
	font-size:12px;
	color:white;
}

body, html { background-color:#E5E5E5; }

/* ---------------------------
Home
--------------------------- */

#home {
	background-color:#50A5D7;
	margin:0px auto;
	padding-bottom:10px;
}

/* --- Title ---*/
.explain {
	text-align:center;
	font-size:1.4em;
	padding:20px 0 5px 0;
	margin:0;
	text-shadow:none;
}

strong {
	font-size:inherit;
	font-weight:bold;
}

/* --- Steps --- */

#steps_grid {
	margin:0px auto;
}

.step {
	display:block;
	float:left;
}

.left {
	width:62px;
	float:left;
	display:block;
}

.right {
	width:218px;
	float:left;
}

.top {
	height:216px;
	display:block;
	margin:0 auto;
}

.bottom {
	height:62px;
}

.vspacer {
	width:30px;
	height:278px;
	float:left;
}

h2 {
	font-size:1.6em;
	text-shadow:1px 1px #33332F;
	margin: 10px 0 0 0;
}

h3 {
	font-size:1.6em;
	text-shadow:1px 1px #33332F;
	margin: 10px 0 0 0;
}

.subtitle {
	font-size:1.1em;
	font-style:italic;
}

.hspacer {
	padding:0px 0 0 0;
}

/* --- Bouton --- */

.button {
	margin:5px auto;
	height:30px;
	width:235px;
	background-image:url('/images/home/home_button.png');
	font-size:2.1em;
	text-shadow:1px 1px #666;
	padding:18px 25px;
}

.button:hover {
	background-image:url('/images/home/home_button_hover.png');
}

.no_underline { text-decoration:none; }

.catalogue_incentive {
  text-align:center;
  font-size:1.2em;
}

.catalogue_incentive a {
  color:#D4FCD9;
  font-size:1em;
}

/* Extra infos */
#home_infos_wrapper {
	background-color:white;
	padding:5px 0 20px 0;
}

#home_infos {
	width:960px;
	margin:0px auto;
}

#home_infos p {
	color:#33332F;
	text-align:justify;
}

#home_infos em {
	color:#33332F;
	font-style:italic;
}

#home_infos h2 {
	color:#50A5D7;
	font-weight:bold;
	font-size:1.6em;
	text-align:center;
	margin:0 0 8px 0;
	text-shadow:none;
}

#home_infos h2.extra_margin {
	margin-top:11px;
}

.no_underline { text-decoration:none; }

#brands {
  float:left;
  width:268px;
  height:205px;
  margin-left:20px;
  padding:10px 0px;
  border:1px solid #E5E5E5;
  background-position:0px 145px;
  background-repeat:repeat-x;
  background-image:url('/images/home/box_bckg.png');
  -webkit-border-radius:8px;
  -khtml-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
	border-radius:8px;
	behavior: url(/stylesheets/PIE.htc);
	position: relative;
}

#middle_boxes {
  float:left;
  padding:0 45px 0 45px;
}

#partners {
  width:268px;
  padding:8px 10px;
  border:1px solid #E5E5E5;
  background-position:0px 40px;
  background-repeat:repeat-x;
  background-image:url('/images/home/box_bckg.png');
  -webkit-border-radius:8px;
  -khtml-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
	border-radius:8px;
	behavior: url(/stylesheets/PIE.htc);
	position: relative;
}

#tour {
  width:270px;
  padding:0px 10px;
  margin-bottom:10px;
}

.illustration {
  float:left;
  margin-right:8px;
}

#home_infos .page_link {
  color:#50A5D7;
  text-align:right;
  margin-top:8px;
}

.page_link a {
  color:#50A5D7;
  padding-top:8px;
}

#merchants {
  float:left;
  width:268px;
  padding:10px 0px;
  height:205px;
  border:1px solid #E5E5E5;
  background-image:url('/images/home/box_bckg.png');
  background-position:0px 145px;
  background-repeat:repeat-x;
  -webkit-border-radius:8px;
  -khtml-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
	border-radius:8px;
	behavior: url(/stylesheets/PIE.htc);
	position: relative;
}

#merchants p, #brands p {
  margin:0 10px;
}


#retailer_logos, #brand_logos {
  text-align:center;
  margin:15px 0;
}

/* --- Extra content --- */

#extra_content {
  width:800px;
  margin:20px auto 0 auto;
  text-align:justify;
}

#extra_content strong {
  color:#33332F;
}

#extra_content a {
  color:#50A5D7;
}


/* --------------------------- Social media -------------------------- */

.social_media {
	width:960px;
	margin:10px auto;
	text-align:right;
	padding:0 50px;
}

.social_media p {
	font-size:1.2em;
	font-style:italic;
	color:#666666;
	display:inline-block;
	margin-right:15px;
	position:relative;
	top:-5px;
}

.plus_one {
	display:inline-block;
}

