/* ---------------------------
Styles par défaut
--------------------------- */

* {
  font-family:"Arial", Arial, sans-serif;
  font-size:12px;
  color:white;
}

body, html { background-color:#E5E5E5; }

/* ---------------------------
Home
--------------------------- */

#home {
  background-color:#50A5D7;
  margin:0px auto;
  padding-bottom:10px;
}

/* --- Title ---*/
.explain {
  text-align:center;
  font-size:1.4em;
  padding:20px 0 5px 0;
  margin:0;
  text-shadow:none;
}

strong {
  font-size:inherit;
  font-weight:bold;
}

/* --- Steps --- */

#steps_grid {
  margin:0px auto;
}

.step {
  display:block;
  float:left;
}

.left {
  width:62px;
  float:left;
  display:block;
}

.right {
  width:218px;
  float:left;
}

.top {
  height:216px;
  display:block;
  margin:0 auto;
}

.bottom {
  height:62px;
}

.vspacer {
  width:30px;
  height:278px;
  float:left;
}

h2 {
  font-size:1.6em;
  text-shadow:1px 1px #33332F;
  margin-top: 10px;
}

h3 {
  font-size:1.6em;
  text-shadow:1px 1px #33332F;
  margin-top: 10px;
}

.subtitle {
  font-size:1.1em;
  font-style:italic;
}

.hspacer {
  padding:0;
  margin-top:-12px;
}

/* --- Bouton --- */

.button {
  margin:5px auto;
  height:30px;
  width:235px;
  background-image:url('/images/home/home_button.png');
  font-size:2.1em;
  text-shadow:1px 1px #666;
  padding:18px 25px;
}

.button:hover {
  background-image:url('/images/home/home_button_hover.png');
}

.no_underline { text-decoration:none; }

.catalogue_incentive {
  text-align:center;
  font-size:1.2em;
}

.catalogue_incentive a {
  color:#D4FCD9;
  font-size:1em;
}

/* ------------------------------------
Extra infos
------------------------------------- */

#home_infos_wrapper {
  background-color:white;
  padding:5px 0 20px 0;
}

#home_infos {
  width:960px;
  margin:0px auto;
}

#home_infos p {
  color:#33332F;
}
/* Text formatting */
#home_infos em {
  color:#33332F;
  font-style:italic;
}

#home_infos h2 {
  color:#50A5D7;
  font-weight:bold;
  font-size:1.6em;
  text-align:center;
  margin-bottom:5px;
  text-shadow:none;
}

#home_infos h3.emphasized_h3 {
  color:#50A5D7;
  font-weight:bold;
  font-size:1.6em;
  text-align:center;
  margin-bottom:5px;
  text-shadow:none;
}

#extra_content strong {
  color:#33332F;
}

#extra_content a {
  color:#50A5D7;
}

.no_underline { text-decoration:none; }

/* --- leftbody --- */

#leftbody {
  width:662px;
  padding:0;
  float:left;
}


/* Extras */


#extra_content {
  width:350px;
  margin-left:30px;
  margin-top:16px;
  text-align:justify;
  float:left;
}

#partners {
  width:258px;
  padding-top:5px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  margin-top:16px;

  float:left;
  border:1px solid #E5E5E5;
  background-position:0px 27px;
  background-repeat:repeat-x;
  background-image:url('/images/home/box_bckg.png');
  behavior: url(/stylesheets/PIE.htc);
  position: relative;
}

/* --- Sidebar --- */
#sidebar {
  width:268px;
  float:left;
  margin-left:30px;
}

#tour {
  width:268px;
  padding:0px;
}

.illustration {
  float:left;
  margin-right:8px;
}

#merchants {
  padding-top:5px
  padding-left:5px;
  padding-bottom:10px;
  margin-top:10px;
  border:1px solid #E5E5E5;
  background-image:url('/images/home/box_bckg.png');
  background-position:0px 148px;
  background-repeat:repeat-x;
  behavior: url(/stylesheets/PIE.htc);
  position: relative;
}

#brands {
  padding-top:5px
  padding-left:5px;
  padding-bottom:10px;
  margin-top:10px;
  border:1px solid #E5E5E5;
  background-position:0px 149px;
  background-repeat:repeat-x;
  background-image:url('/images/home/box_bckg.png');
  behavior: url(/stylesheets/PIE.htc);
  position: relative;
}

#home_infos .page_link {
  color:#50A5D7;
  text-align:right;
  margin-top:8px;
}

.page_link a {
  color:#50A5D7;
  padding-top:8px;
}

#merchants p, #brands p {
  margin-right: 10px;
  margin-left: 10px;
}


#retailer_logos, #brand_logos {
  text-align:center;
  margin:0;
}

.retailer_logo {
  padding:0 6px;
  margin-bottom:4px;
}




/* --------------------------- Social media -------------------------- */

.social_media {
  width:960px;
  margin:5px auto;
  text-align:right;
  padding:0 50px;
}

.social_media p {
  font-size:1.2em;
  font-style:italic;
  color:#666666;
  display:inline-block;
  margin-right:15px;
  position:relative;
  top:-5px;
}

.plus_one {
  display:inline-block;
}

/* best laptops */
#best_laptops {
  width:662px;
  height:470px;
  padding:0;
  color:#33332F;
}

#best_laptops p  {
  color:#33332F;
  font-size:1em;
}

#best_laptops p strong {
  color:#33332F;
  font-weight:bold;
  font-size:1em;
}

.gridspacer {
  width:10px;
  float:left;
  height:170px;
}

