@charset "utf-8";
/* CSS Document */

/* ---------------------------
Styles par défaut
--------------------------- */

* {
  font-family:"Arial", Arial, sans-serif;
  font-size:12px;
  color:black;
}

.faint_title {
  text-align:left;
  text-shadow:none;
  color:#666666;
  font-size:1.3em;
  font-weight:bold;
  margin:0 0 3px 0;
}

strong {
  font-weight:bold;
  color:inherit;
  font-size:inherit;
}

small {
  color:inherit;
  font-size:0.8em;
}

.no_underline { text-decoration:none; }

.clearfix { clear:both; }

body, html { background-color:#E5E5E5; }

/* --- Mise en page générale --- */

#top_wrapper {
  background-color:#50A5D7;
  padding:20px 0;
}

#bottom_wrapper {
  background-color:white;
  padding:15px 0;
}

/* Product name */

.title {
  text-align:left;
  font-size:1.8em;
  font-weight:bold;
  color:#50A5D7;
  margin-bottom:15px;
}

.title strong {
  text-align:left;
  font-size:0.9em;
  font-weight:bold;
  color:#33332F;
  text-shadow:1px 1px #E5E5E5;
}

/* ---------------------------
#top = Main specs & wizard CTA
--------------------------- */

/* --- Mise en page --- */

#top {
  width:960px;
  margin:0 auto;
}

#top_left {
  float:left;
  width:656px;
  height:325px;
  padding:12px;
  background-color:white;
  -webkit-border-radius:12px;
  -khtml-border-radius:12px;
  -moz-border-radius:12px;
  -o-border-radius:12px;
  border-radius:12px;
  behavior: url(/stylesheets/PIE.htc);
  position: relative;
}

#product_description {
  border-top:1px solid #E5E5E5;
  padding-top:8px;
  margin-top:1px;
}

/* --- Description --- */

#product_description h2 {
  float:left;
  width: 110px;
  margin: 5px 10px 0 0;
}

.above_border {
  margin-top:12px;
}

#product_description p {
  text-align:justify;
  font-size:1.1em;
}

/* --- Photo --- */

.picture_box {
  background-color:white;
  display:table-cell;
  vertical-align:middle;
  float:right;
  width:270px;
  height:240px;
}

#picture {
  margin:auto;
  display:block;
}

#zoom p.zoom {
  z-index:1;
  position:relative;
  color:#50A5D7;
  text-decoration:underline;
  text-align:center;
}

.unzoom {
  color:#50A5D7;
  text-decoration:underline;
  text-align:center;
}

#popup {
  text-align:center;
  position: fixed;
  left:50%;
  top:5%;
  width:800px;
  margin-left:-412px;
  z-index:3;
  background-color:white;
  padding:12px;
  border:1px solid #E5E5E5;
  -webkit-border-radius:8px;
  -khtml-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
  border-radius:8px;
}

#overlay {
  position: fixed;
  left:0%;
  top:0%;
  z-index:2;
  width:100%;
  height:100%;
  background-color:black;
  opacity:0.5;
  filter: alpha(opacity=50);
}

#picture_zoom {
  width:550px;
}

/* --- Main Specs --- */

#main_specs {
  float:left;
}

.spec_rating, .spec_value { text-align:center; }

/* Table formatting */

#main_specs_table {
  background-color:white;
  width:375px;
  float:right;
}

#main_specs_table td {
  padding:2px 3px 1px 3px;
  font-size:1em;
}

.spec_value {
  color:#666666;
}

#main_specs_table tr {
  border-top:1px solid #E5E5E5;
}

#main_specs_table .first {
  border-top:none;
}

#main_specs_table .last {
  border-bottom:none;
}

/* Tooltips */
.tooltipicon {
  margin-right:4px;
  vertical-align:baseline;
  height:12px;
  width:12px;
}

a.tooltip {
  position:relative;
  text-decoration:none;
}

a.tooltip:hover {
  background: none;
  z-index: 1;
}

a.tooltip span {
  display: none;
  position:relative;
}

a.tooltip:hover span {
  display: block;
  position: absolute;
  width:250px;
  top:15px;
  left:-20px;
  background:#D4FCD9;
  padding: 8px;
  border: 1px solid #057619;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align:justify;
  font-size:1.1em;
}

/* Spec rating bars */
.bar_background {
  width:60px;
  height:12px;
  background-image:url('/images/product/rating_bar_bckg.jpg');
}

.bar {
  height:12px;
  background-image:url('/images/product/rating_bar.jpg');
}

.spec_rating strong { font-size:1.2em; }

/* ---- Menu & Wizard box ---- */
#top_right {
  float:left;
  margin-left:20px;
  width:236px;
  height:310px;
}

.cta_box {
  background-color:white;
  width:236px;
  padding:12px;
  -webkit-border-radius:12px;
  -khtml-border-radius:12px;
  -moz-border-radius:12px;
  -o-border-radius:12px;
  border-radius:12px;
  behavior: url(/stylesheets/PIE.htc);
  position: relative;
}

#wizard_box {
  margin:25px 0 0 0;
}

.wizard_cta_title {
  font-size:1.5em;
  color:#33332F;
  text-align:center;
  font-weight:bold;
  margin-bottom:6px;
}

.wizard_incentive {
  font-size:1em;
  color:#33332F;
  text-align:justify;
  margin:0 0 0 0;
}

.wizard_emphasis {
  text-align:center;
  font-size:1.1em;
  font-weight:bold;
  margin:5px 0;
}

.wizard_button {
  width:227px;
  height:42px;
  margin:5px auto 0 auto;
  background-image:url('/images/catalogue/wizard_button.png');
}

.wizard_button:hover { background-image:url('/images/catalogue/wizard_button_hover.png'); }

p.label {
  padding:8px 0 0 20px;
  font-size:1.8em;
  color:white;
  text-shadow:1px 1px #666666;
}

.catalogue_link {
  color:#50A5D7;
}

#nav_box p {
  font-size:1.3em;
  font-weight:bold;
  margin-bottom:6px;
  text-align:center;
}

#nav_box ul li {
  list-style-type: disc;
  list-style-position:inside;
  margin-left:30px;
  font-size:1.2em;
}

#nav_box ul li a {
  color: #50A5D7;
}

/* ---------------------------
#Bottom = Offers & full specs
--------------------------- */

/* --- Mise en page --- */

#bottom {
  width:960px;
  margin:0 auto;
}


/* --- Offers --- */

/* Mise en page */
#offers {
  margin:20px auto 0 auto;
  background-color:#E5E5E5;
  padding:5px 0 12px 0;
  -webkit-border-radius:12px;
  -khtml-border-radius:12px;
  -moz-border-radius:12px;
  -o-border-radius:12px;
  border-radius:12px;
  behavior: url(/stylesheets/PIE.htc);
  position: relative;
}

h2.offer_title {
  text-align:left;
  font-size:1.35em;
  color:#555555;
  border-bottom:12px;
  margin-left:15px;
}

h2.offer_title strong {
  font-size:1.1em;
  font-weight:bold;
  color:#33332F;
  text-shadow:1px 1px white;
}

.offers_wrapper {
  display:inline-block;
}

#offers_table {
  width:960px;
}

/* Contents of the offer boxes */

.offer {
  height:78px;
}

.offer_thumbnail {
  border:1px solid #E5E5E5;
  background-image:none;
  width:120px;
  background-color:white;
}

.thumbnail { height: 80px; }

.offer_name {
  width:400px;
  background-image:url('/images/product/offer_bckg.png');
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  margin:5px 0;
  padding:5px 8px 5px 16px;
  overflow:hidden;
}

.offer_name a {
  text-align:justify;
  color:#666;
  font-size:1.2em;
}

.offer_price {
  background-image:url('/images/product/offer_bckg.png');
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  width:110px;
  text-align:center;
}

.offer_logo {
  background-image:url('/images/product/offer_bckg.png');
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  padding:0 4px;
}

.retailer_logo {
  width:105px;
  height:40px;
}

.offer_link {
  background-image:url('/images/product/offer_bckg.png');
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
  width:120px;
  padding:0px 8px;
}

.retailer_incentive {
  color:#555555;
  font-style:italic;
  margin-bottom:5px;
  text-align:center;
}

.offer a {
  text-decoration:none;
}

.offer_button {
  background-image:url('/images/product/buy.png');
  width:130px;
  height:30px;
  margin:0 auto 0 auto;
}

.offer_button:hover {
  background-image:url('/images/product/buy_hover.png');
}

.buy {
  color:white;
  font-size:1.9em;
  text-align:center;
  padding-top:1.5px;
}

.offer div.price_box{
  width:210px;
  margin-left:20px;
}

.offer .price_box_left {
  float:left;
}

.offer .price_box_left .discount_price small{
  color:red;
}

.offer .price_box_right {
  margin-left:10px;
  float:left;
}

.offer_price p.normal_price {
  color:#33332f;
  font-weight:bold;
  font-size:2em;
  text-align:left;
}

.offer p.old_price{
  font-size:1em;
  text-decoration: line-through;
}

.offer p.discount_price {
  font-weight:bold;
  font-size:2em;
  text-align:left;
  color:red;
}

.offer p.shipping_price{
  width:75px;
  font-size:0.9em;
  font-style:italic;
  color:dimgray;
  margin-top:5px;
}

.offer div.price_box_right {
  width:109px;
  height:53px;
  background-image:url('/images/product/discount.png');
  margin-top: 3px;
}

.price_box p.discount_percentage{
  margin: 2px 0px 0px 20px;
  font-weight:bold;
  color:white;
  font-size:2em;
}

.price_box p.discount_absolute{
  margin: 5px 0px 0px 25px;
  font-weight:bold;
  color:red;
  font-size:1em;
}

.price_box .discount_absolute small{
  color:red;
}
/* --- Retailers without offers --- */
.retailers_checked {
  background-image:url('/images/product/offer_bckg.png');
  height:78px;
  text-align:center;
}

.retailers_checked td p {
  margin:0 0 5px 0;
  font-size:1.25em;
  font-style:italic;
  color:#555555;
}

.retailers_checked td img {
  width:70px;
  margin:0px 3px;
}



/* --- Specs sheet --- */

/* Mise en page */

#specs_sheet {
  margin:15px 0 8px 0;
}

#specs_sheet h2 {
  text-align:center;
}

#tables_header {
  background-image:url('/images/product/tables_header_bckg.png');
  padding:9px 0 6px 0;
}

#tables_header h2 {
  color:white;
  text-shadow:1px 1px #666;
  font-weight:normal;
  margin:0px;
  font-size:1.8em;
}

#tables {
  border:1px solid #50A5D7;
}

#tables_left {
  float:left;
  width:460px;
  text-align:center;
  margin-left:10px;
}

#tables_right {
  float:right;
  width:460px;
  text-align:center;
  margin-right:10px;
}

.specs_table {
  margin:0 auto 20px auto;
  width:400px;
  border-collapse:separate;
}

.specs_table tbody td {
  color:#33332F;
  font-size:1.2em;
  padding:3px 6px;
  border-bottom:1px solid #E5E5E5;
}

.table_spec_name {
  font-weight:bold;
  text-align:left;
  width:190px;
}

.specs_table tbody td.table_spec_value {
  color:#666666;
}

.specs_table thead td {
  color:#33332F;
  border-bottom-style:dotted;
  border-bottom-width:1px;
  border-bottom-color:#666;
  padding:8px 8px 5px 8px;
  font-weight:bold;
  font-size:1.4em;
}

/*Disclaimer for specs values*/
#spec_disclaimer {
  clear:both;
  text-align:right;
  margin-right:12px;
  padding-bottom:20px;
  color:#666666;
  font-size:1.1em;
  font-style:italic;
}

/* --------------------------- Social media -------------------------- */

.social_media {
  width:960px;
  margin:0 auto;
  text-align:right;
}

.social_media p {
  font-size:1.2em;
  font-style:italic;
  color:#666666;
  display:inline-block;
  margin-right:15px;
  position:relative;
  top:-5px;
}

.plus_one {
  display:inline-block;
}

