/* ---------------- PALETTE ---------------- */

/*
Bleu clair = #50A5D7
Bleu sombre = #036CAA
Gris pâle = #E5E5E5
Gris foncé = #666666
Anthracite = #33332F
Vert pâle = #D4FCD9
Vert foncé = #057619
 */

/* ---------------- COLOR PICKER = mettre les scores dans la bonne couleur ---------------- */
.colorid0 { color:#8e8e8e; }
.colorid1 { color:#e93511; }
.colorid2 { color:#f5880c; }
.colorid3 { color:#e8aa05; }
.colorid4 { color:#b1be1f; }
.colorid5 { color:#5fa53f; }
.colorid6 { color:#08c383; }
.colorid7 { color:#08b1b3; }
.colorid8 { color:#039ae6; }
.colorid9 { color:#385feb; }

/* Pour des cases colorées */
.bckgcolorid0 { background-color:#8e8e8e; color:white; }
.bckgcolorid1 { background-color:#e93511; color:white; }
.bckgcolorid2 { background-color:#f5880c; color:white; }
.bckgcolorid3 { background-color:#e8aa05; color:white; }
.bckgcolorid4 { background-color:#b1be1f; color:white; }
.bckgcolorid5 { background-color:#5fa53f; color:white; }
.bckgcolorid6 { background-color:#08c383; color:white; }
.bckgcolorid7 { background-color:#08b1b3; color:white; }
.bckgcolorid8 { background-color:#039ae6; color:white; }
.bckgcolorid9 { background-color:#385feb; color:white; }

/* ---------------- Conteneurs pour la mise en page des sections du haut ---------------- */

#resultpage {
  margin:0px auto;
}

#topwrapper {
  background-color:#50A5D7;
  margin:0 auto;
}

#bestpicks {
  width:960px;
  margin:0 auto;
  padding-bottom:15px;
}

.clearfix { clear:both; }

/* ---------------- FORMATAGE DES TEXTES PAR DEFAUT ---------------- */

* {
  font-family:"Arial", Arial, sans-serif;
  font-size:10px;
}

/* ---------------- Titre & sous-titres de la page ---------------- */

.toptitle {
  display:block;
  text-align:center;
  padding:15px 50px 8px 0;
  margin-bottom:10px;
}

.toptitle h1 {
  font-size:3em;
  color:white;
  text-shadow:1px 1px 0 #666666;
  margin-top:5px;
}

.toptitle h2 {
  font-size:1.4em;
  color:white;
}

.toptitle a {
  font-size:1.0em;
  font-weight:bold;
  color:white;
}

/* ---------------- Boutons de retour au wizard ---------------- */

#navbuttons {
  padding:15px 0px 8px 0px;
  margin-left:35px;
  float:left;
}

.backbutton {
  background-image:url('/images/results/backbutton.png');
  width:200px;
  height:30px;
}

.backbutton:hover {
  background-image:url('/images/results/backbutton_hover.png');
}

.restartbutton {
  background-image:url('/images/results/restartbutton.png');
  width:200px;
  height:30px;
  margin-top:8px;
}

.restartbutton:hover {
  background-image:url('/images/results/restartbutton_hover.png');
}

.buttonlabel {
  font-size:1.8em;
  color:white;
  padding:5px 0 0 40px;
}

#navbuttons a { text-decoration:none; }

/* ---------------- Tableau des 3 PC mis en avant ---------------- */

#bestpicktablewrapper {
  margin:0px auto;
}

/* Nom des modèles (ce sont aussi des liens vers la fiche technique) */
.bestpickcolumn h1, .maccontent h1 {
  font-size:2.0em;
  text-shadow:1px 1px 0 #E5E5E5;
  color:#33332F;
  text-align:center;
}

.bestpickcolumn a, .maccontent a {
  text-decoration:none;
}

.bestpickcolumn strong, .maccontent strong {
  font-size:1em;
  font-weight:bold;
}

/* Paragraphes d'explication sur les 3 PC retenus & lien "+ d'informations" */

.bestpickcategory {
  text-align:center;
}

.bestpickcolumn h2 {
  font-size:1.8em;
  text-shadow:1px 1px 0 #E5E5E5;
  color:#036CAA;
  text-align:center;
  display:inline;
}

.medal {
  margin-right:10px;
  vertical-align:-8px;
}

p.bestpickcolumn {
  margin:5px 15px;
  font-size:1.3em;
  color:#666666;
  font-style:italic;
  text-align:justify;
}

p.more {
  margin-right:20px;
  font-size:1.3em;
  color:#036CAA;
  text-align:right;
  text-decoration:underline;
}

/* --- Formatage du tableau --- */

#bestpicktable {
  margin:0 auto;
}

/* Arrondis du tableau */
td.bestpickcolumntop {
  background-image:url('/images/results/bestpickbox-top.png');
  width:280px;
  height:10px;
}

td.rounded_bottom {
  background-image:url('/images/results/bestpickbox-bottom.png');
  width:280px;
  height:10px;
}

/* Cases préseantant les PC : Modèle, Image, etc */
td.bestpickcolumn {
  background-color:white;
  width:268px;
  border-left:1px solid #e5e5e5;
  border-right:1px solid #e5e5e5;
}


td.bestpickvspacer {
  width:30px;
}

.featuredimg {
  width:220px;
  margin:0px auto;
  display:block;
}

/* Cases pour le score et le prix */

/* Scores des PC mis en avant */

td.score_price {
  width:280px;
  border-left:1px solid #E5E5E5;
  border-right:1px solid #E5E5E5;
  background-color:white;
}

.score_box {
  width:280px;
  border-bottom:1px solid #E5E5E5;
  padding:5px 0 5px 0;
}

.score_left {
  width:110px;
  float:left;
}

.score_right {
  margin-left:8px;
  width:155px;
  float:left;
}

.price_box {
  width:280px;
  padding:5px 0 0 0;
  border-bottom:1px solid #E5E5E5;
}

.score_price .price_box {
  background-image:url('/images/results/scorebox.png');
}

.price_box a {
  text-decoration:none;
}

.price_left {
  width:110px;
  float:left;
}

.price_right {
  margin-left:8px;
  width:155px;
  float:left;
}

/* Texte d'accompagnement des scores */
h3.score_value {
  font-size:4.8em;
  text-shadow:1px 1px 0 #E5E5E5;
  text-align:center;
}

small {
  font-size:0.5em;
}

p.your_needs {
  font-size:1.2em;
  color:#33332F;
  text-align:center;
}

h3.price {
  font-size:3.5em;
  text-shadow:1px 1px 0 white;
  text-align:center;
}

p.price {
  font-size:1.35em;
  color:#33332F;
  text-align:center;
}

p.score_text {
  font-size:1.2em;
  color:#33332F;
  text-align:justify;
}

p.best_offer_text_link {
  text-decoration:underline;
  font-size:1em;
  color:#036CAA;
  text-align:center;
  margin:0 0 3px 0;
}

.best_offer_logo {
  height:35px;
  width:92px;
  display:block;
  margin:0 auto;
}



/* Meilleure offre */

.best_offer_count {
  font-size:1.2em;
  color:#33332F;
  margin:5px 0 3px 0;
  text-align:center;
}

.best_offer {
  width:270px;
  padding:0px 5px 0px 5px;
  height:40px;
  text-align:center;
}



/* Icône du tooltip */
.scoretooltipicon {
  vertical-align:text-bottom;
  height:14px;
  width:14px;
  margin-left:5px;
}

/* --- Tooltip du Spenta Score --- */

a.scoretooltip {
  position:relative;
  text-decoration:none;
}

a.scoretooltip:hover {
  background: none;
  z-index: 1;
}

a.scoretooltip span {
  display: none;
  position:relative;
}

/* Style du popup lorsqu'il s'affiche */
a.scoretooltip:hover span {
  display: block;
  position: absolute;
  width:300px;
  top:0px;
  left:-20px;
  background:#D4FCD9;
  padding: 8px;
  border: 1px solid #057619;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* Formatage du texte du tooltip */

.scoretooltip strong {
  font-size:1.3em;
  font-weight:bold;
  color:#33332F;
  text-align:justify;
}

.scoretooltip li {
  font-size:1.3em;
  color:#33332F;
  margin:1px 5px;
  text-align:justify;
  list-style-type:disc;
  list-style-position:inside;
}

/* --- Bouton pour aller sur la fiche produit --- */
.productbutton {
  width:188px;
  height:41px;
  margin:5px auto 10px auto;
  background-image:url('/images/results/productbutton.png');
}

.productbutton h4 {
  font-size:1.9em;
  text-shadow:1px 1px 0 #666666;
  color:white;
  position:absolute;
  margin:9px 0px 0px 10px;
}

.productbutton:hover {
  background-image:url('/images/results/productbutton-hover.png');
}

/* ---------------- Caractéristiques des 3 PC mis en avant ---------------- */
/* Rang d'explications */
tr.bestpick_motives {
  background-color:white;
  background-image:url(../images/results/scorebox.png);
  border: 1px solid #E5E5E5;
  width:958px;
}

.bestpick_motives td {
  width:880px;
  padding:4px 10px;
}

.bestpick_motives h3 {
  font-size:1.4em;
  font-weight:bold;
  color:#33332F;
  text-align:center;
}

.bestpick_motives p {
  font-size:1.2em;
  color:#33332F;
  text-align:justify;
  margin:3px 20px 0 20px;
}

.bestpick_motives strong {
  font-weight:bold;
  font-size:1.0em;
  color:#33332F;
}

.important_specs_title {
  background-color:white;
  padding:0 5px 5px 5px;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  width:268px;
}

.important_specs_title p {
  color:#33332F;
  font-size:1.2em;
  font-weight:bold;
  text-align:center;
}

/* Positionnement des elements image, carac et score soient sur la même ligne */
.specsrankimage {
  float:left;
  padding:8px 10px;
}

.specsleft {
  width:210px;
  float:left;
  padding:3px 0;
}

.specsright {
  width:70px;
  float:left;
}

.specsname {
  color:#33332F;
  font-size:1.6em;
  font-weight:bold;
  margin:0 0 3px 0;
}

p.specsvalue {
  color:#666666;
  font-size:1.3em;
  font-style:normal;
  margin:0 0 2px 0;
}

p.specscore {
  font-size:3em;
  font-weight:bold;
  margin:3px 10px 0 0;
  text-align:right;
}

/* Lignes horizontales entre les specs */

.bestpickhspacer {
  background-image:url('/images/results/hspacer.png');
  height:1px;
}

/* --- Tooltip des caracteristiques --- */

a.specstooltip {
  position:relative;
  text-decoration:none;
}

a.specstooltip:hover {
  background: none;
  z-index: 1;
}

a.specstooltip span {
  display: none;
  position:relative;
}

.tooltip_icon {
  float:right;
  margin-right:4px;
  height:12px;
  width:12px;
  margin-top:12px;
}

/* Style du popup lorsqu'il s'affiche */
a.specstooltip:hover span {
  display: block;
  position: absolute;
  width:180px;
  top:-35px;
  left:-160px;
  background:#D4FCD9;
  padding: 8px;
  border: 1px solid #057619;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

a.mark_tooltip:hover span {
  left:-180px;
}

/* Formatage du texte du tooltip */

p.specstooltip {
  font-size:1.2em;
  color:#33332F;
  text-align:justify;
}

.specstooltip strong {
  font-size:1em;
  font-weight:bold;
  color:#33332F;
  text-align:justify;
}

.specstooltip li {
  font-size:1.2em;
  color:#33332F;
  margin:1px 5px;
  text-align:justify;
  list-style-type:disc;
  list-style-position:inside;
}

/*--------------------------------- Mac ---------------------------------------*/
.mac {
  margin: 0px auto;
  padding-bottom:20px;
  width:900px;
}

.mactop {
  background-image:url('/images/results/mactop.png');
  width:900px;
  height:10px;
}

#mactitle {
  padding:0px;
}

.left .macspacer {
  height:40px;
}

.middle .macspacer {
  height:20px;
}

.maccontent {
  background-color:white;
  height:235px;
  padding-top:10px;
}

.maccontent .left {
  padding-top:5px;
  float:left;
  width:230px;
  margin-left:20px;
}

.maccontent .middle {
  padding-top:5px;
  float:left;
  margin-left:65px;
}

.maccontent .right {
  padding-top:0px;
  float:left;
  margin-left:25px;
  width:280px;
}

div.macbottom {
  background-image:url('/images/results/macbottom.png');
  width:900px;
  height:10px;
}

/* ---------------- Bouton pour dérouler les caractéristiques ---------------- */

.toggle {
  background-image:url('/images/results/toggle-background.png');
  height:28px;
  text-align:center;
  border:1px #56DC70 solid;
  border-bottom-color:#057619;
  font-weight:400;
}

.toggle:hover {
  background-image:url('/images/results/toggle-background-hover.png');
}

.toggle a {
  font-size:1.7em;
  color:white;
  text-decoration:none;
}

/* --------------------------- Social media -------------------------- */

.social_media {
  width:960px;
  margin:10px auto;
  text-align:right;
  padding:0 30px;
}

.social_media p {
  font-size:1.2em;
  font-style:italic;
  color:#666666;
  display:inline-block;
  margin-right:15px;
  position:relative;
  top:-5px;
}

.plus_one {
  display:inline-block;
}

/* ---------------- Conteneurs pour la mise en page des sections du bas ---------------- */

#bottomwrapper {
  background-color:white;
  margin:0 auto;
  padding:0px 0 25px 0;
}

#extras {
  width:958px;
  position:relative;
  margin:0px auto 0px auto;
  border:1px #50A5D7 solid;
}

/* --- Arrondi en haut du cadre contenant le tableau --- */
#bottomhead {
  background-color:white;
  margin:0 auto;
  width:960px;
  display:block;
}

#bottomhead h1 {
  font-size:2.5em;
  color:white;
  text-shadow:1px 1px 0 #666666;
  margin-top:8px
}

.bottomheaderleft {
  background-image:url('/images/results/bottomheader-left.png');
  float:left;
  width:12px;
  height:40px;
}

.bottomheader {
  background-image:url('/images/results/bottomheader.png');
  float:left;
  width:936px;
  height:40px;
  text-align:center;
}

.bottomheaderright {
  background-image:url('/images/results/bottomheader-right.png');
  float:left;
  width:12px;
  height:40px;
}

/* ---------------- Table des 10 produits supplémentaires ---------------- */

/* Texte d'explications avant le tableau */
.extrasexplain {
  margin:20px 30px 0px 30px;
  color:#33332F;
  font-size:1.3em;
  text-align:justify;
}

#rating_explain {
  color:#33332F;
  padding:10px 20px 10px 20px;
}

#rating_explain p {
  font-size:1.4em;
  text-align:justify;
}

.paragraph_left {
  width:480px;
  float:left;
  margin-left:0px;
}

.paragraph_right {
  width:370px;
  float:right;
  margin-right:0px;
}

#rating_explain h3 {
  font-size:1.6em;
  text-align:center;
  font-weight:bold;
}

.top_explain {
  clear:both;
  margin-top:5px;
}

.explain_img {
  display:block;
  margin:0px auto;
}

.left_explain {
  float:left;
  margin-left:10px;
}

.right_explain {
  float:right;
  margin-right:10px;
}

#rating_explain .fulllist {
  margin-top:10px;
  color:#666666;
  font-size:1.4em;
  text-align:left;
  font-style:italic;
}

.clearfix { clear:both; }

.fulllist a {
  color:#036CAA;
  font-size:1em;
  font-style:italic;
}

/* --- Formatage des cellules de la table --- */
#extratable {
  width:956px;
  margin:0px auto;
}
#extras td, #extras th {
  border-width:2px 1px;
  border-style:solid;
  border-color:#E5E5E5;
}

#extras th {
  padding:2px 4px 2px 16px;
}

#extras td {
  padding:4px 4px;
}

/* Pas de bordures sur les infos produit et les en-têtes associés */
#extras td.thumb {
  border-right-width:0px;
  border-left-width:0px;
 }

 .thumbnail { border-style: none; }

 #extras td.infos {
   border-right-width:0px;
   border-left-width:0px;
   text-align:left;
}

#extras td.values { width:90px; }

#extras .empty {
  border-right-width:0px;
  border-left-width:0px;
}

/* --- En-têtes --- */
tr.headers {
  background-image:url('/images/results/table-header-bckg.gif');
  height:39px;
}

#extras .header {
  background-image:url('/images/results/small.gif');
  background-repeat:no-repeat;
  background-position:left;
  text-align:center;
  font-size:1.2em;
  text-shadow:1px 1px 0 #E5E5E5;
}

#extras .headerSortDown {
  background-image:url('/images/results/small_asc.gif');
  background-repeat:no-repeat;
  background-position:left;
  background-color:#999999;
  text-shadow:1px 1px 0 #777777;
}

#extras .headerSortUp {
  background-image:url('/images/results/small_desc.gif');
  background-repeat:no-repeat;
  background-position:left;
  background-color:#999999;
  text-shadow:1px 1px 0 #777777;
}

/* --- Rangées --- */

#extras td {
  height:61px;
  text-align:center;
  font-size:3em;
  font-weight:bold;
}

#extras var {
  font-size:1em;
}

#extras .thumbnail {
  height:60px;
  padding:0;
}

.brand {
  color:#33332F;
  font-size:1.3em;
  text-transform:uppercase;
}

.name {
  font-size:1.3em;
  color:#666666;
  overflow:hidden;
  font-weight:normal;
}

a.nounderline {
  text-decoration:none;
}

.price {
  color:#33332F;
  font-size:2em;
}

.more {
  color:#036CAA;
  font-size:1.1em;
  margin-right:5px
  text-align:right;
  text-decoration:underline;
}

.specvalue {
  font-weight:normal;
  text-shadow:none;
  font-size:11px;
}

.textshading {
  text-shadow:1px 1px 0 #E5E5E5;
}

.textshadingdark {
  text-shadow:1px 1px 0 #666666;
}

.offer_logo {
  height:35px;
  width:92px;
}

/* Inversion de couleur texte/fond au survol du rang */
#extras tr.product:hover td.colorid0 { background-color:#8e8e8e; color:white; text-shadow:1px 1px 0 #666666 }
#extras tr.product:hover td.colorid1 { background-color:#e93511; color:white; text-shadow:1px 1px 0 #666666 }
#extras tr.product:hover td.colorid2 { background-color:#f5880c; color:white; text-shadow:1px 1px 0 #666666 }
#extras tr.product:hover td.colorid3 { background-color:#e8aa05; color:white; text-shadow:1px 1px 0 #666666 }
#extras tr.product:hover td.colorid4 { background-color:#b1be1f; color:white; text-shadow:1px 1px 0 #666666 }
#extras tr.product:hover td.colorid5 { background-color:#5fa53f; color:white; text-shadow:1px 1px 0 #666666 }
#extras tr.product:hover td.colorid6 { background-color:#08c383; color:white; text-shadow:1px 1px 0 #666666 }
#extras tr.product:hover td.colorid7 { background-color:#08b1b3; color:white; text-shadow:1px 1px 0 #666666 }
#extras tr.product:hover td.colorid8 { background-color:#039ae6; color:white; text-shadow:1px 1px 0 #666666 }
#extras tr.product:hover td.colorid9 { background-color:#385feb; color:white; text-shadow:1px 1px 0 #666666 }

/*Disclaimer for specs values*/
#specs_disclaimer {
  width:960px;
  margin:8px auto;
  text-align:right;
  padding-right:12px;
  color:#666666;
  font-size:1.1em;
  font-style:italic;
}

