<% is_first_column = true -%>
<% star_products.each do |p| -%>
  <%= render 'vspacer', :is_first_column => is_first_column  %> 
  <td class="bestpickcolumn" colspan="2">
  <% is_first_column = false -%>
  <%= link_to product_path(p.product_id), :target => "_blank" do%>
    <div class="productbutton">
      <h4><%= t :bestpick_button %></h4>
    </div>
  <% end -%>
  </td>
<% end -%>
