<% star_products = get_star_products -%>
<div id="topwrapper">
  <div id="bestpicks">
    <div id="toptitle">
      <h1>Nos recommandations : les 3 meilleurs PC</h1>
      <h2>parmi les <strong><%= Product.count %> mod&egrave;les</strong> disponibles chez nos partenaires</h2>
    </div>
    <%# Table pour afficher les 3 PC recommandes %>
    <div id="bestpicktablewrapper">
      <table id="bestpicktable">
        <tbody>
          <%# Rang superieur = arrondis des vignettes %>
          <tr>
            <td class="bestpickcolumntop" colspan="2" />
            <td class="bestpickvspacer" />
            <td class="bestpickcolumntop" colspan="2" />
            <td class="bestpickvspacer" />
            <td class="bestpickcolumntop"  colspan="2" />
          </tr>
          <%# Intitulé, modèle du PC, texte descriptif, image %>
          <tr>
            <%= render :partial => 'star_products_headers', :locals => {:star_products => star_products}%>
          </tr>
          <%# Boxes avec le score et les prix %>
          <tr>
            <td class="scorebox">
              <h3 class="colorid3">83<small>&#37;</small></h3>
              <p>de vos besoins</p>
              <a href="#" class="scoretooltip">
                <img class="scoretooltipicon" src="/images/results/tooltip.png" alt="Aide" />
                <span>
                  <strong>Le % de vos besoins vous dit immédiatement si le PC est bien adapté à vos attentes.</strong>
                  <ul>
                    <li>Autour de 100%, vous pourrez faire confortablement tout ce que vous avez choisi dans le questionnaire.</li>
                    <li>Au-dessus, le PC est plus performant que nécessaire. Cela vous laisse de la marge si vous voulez l'utiliser pour des usages plus exigeants.</li>
                    <li>Plus le score est bas, moins l'utilisation sera agréable. Nous avons éliminé tous les PC à moins de 70% : ils ne sont pas suffisants pour vous !</li>
                  </ul>
                </span>
              </a>
            </td>
            <td class="pricebox">
              <p>&agrave; partir de</p>
              <h3>798<small>&euro;95</small></h3>
            </td>
            <td class="bestpickvspacer" />
              <td class="scorebox">
                <h3 class="colorid5">102<small>&#37;</small></h3>
                <p>de vos besoins</p>
                <a href="#" class="scoretooltip">
                  <img class="scoretooltipicon" src="/images/results/tooltip.png" alt="Aide" />
                  <span>
                    <strong>Le % de vos besoins vous dit immédiatement si le PC est bien adapté à vos attentes.</strong>
                    <ul>
                      <li>Autour de 100%, vous pourrez faire confortablement tout ce que vous avez choisi dans le questionnaire.</li>
                      <li>Au-dessus, le PC est plus performant que nécessaire. Cela vous laisse de la marge si vous voulez l'utiliser pour des usages plus exigeants.</li>
                      <li>Plus le score est bas, moins l'utilisation sera agréable. Nous avons éliminé tous les PC à moins de 70% : ils ne sont pas suffisants pour vous !</li>
                    </ul>
                  </span>
                </a>
              </td>
              <td class="pricebox">
                <p>&agrave; partir de</p>
                <h3>1247<small>&euro;34</small></h3>
              </td>
              <td class="bestpickvspacer" />
                <td class="scorebox">
                  <h3 class="colorid7">124<small>&#37;</small></h3>
                  <p>de vos besoins</p>
                  <a href="#" class="scoretooltip">
                    <img class="scoretooltipicon" src="/images/results/tooltip.png" alt="Aide" />
                    <span>
                      <strong>Le % de vos besoins vous dit immédiatement si le PC est bien adapté à vos attentes.</strong>
                      <ul>
                        <li>Autour de 100%, vous pourrez faire confortablement tout ce que vous avez choisi dans le questionnaire.</li>
                        <li>Au-dessus, le PC est plus performant que nécessaire. Cela vous laisse de la marge si vous voulez l'utiliser pour des usages plus exigeants.</li>
                        <li>Plus le score est bas, moins l'utilisation sera agréable. Nous avons éliminé tous les PC à moins de 70% : ils ne sont pas suffisants pour vous !</li>
                      </ul>
                    </span>
                  </a>
                </td>
                <td class="pricebox">
                  <p>&agrave; partir de</p>
                  <h3>2310<small>&euro;50</small></h3>
                </td>
              </tr>
              <%# Boutons pour aller sur la fiche produit %>
              <tr>
                <td class="bestpickcolumn" colspan="2">
                  <a href="/fichetechnique.html" target="_blank">
                    <div class="productbutton">
                      <h4>J&#39;en profite !</h4>
                    </div>
                  </a>
                </td>
                <td class="bestpickvspacer" />
                  <td class="bestpickcolumn" colspan="2">
                    <a href="/fichetechnique.html" target="_blank">
                      <div class="productbutton">
                        <h4>J&#39;en profite !</h4>
                      </div>
                    </a>
                  </td>
                  <td class="bestpickvspacer" />
                    <td class="bestpickcolumn" colspan="2">
                      <a href="/fichetechnique.html" target="_blank">
                        <div class="productbutton">
                          <h4>J&#39;en profite !</h4>
                        </div>
                      </a>
                    </td>
                  </tr>
                </tbody>
                <%# Caracteristiques detaillées des produits (le toggle est declare en dessous) %>
                <tbody id="Collapsable">
                  <%# Rang pour la 1e carac %>
                  <tr>
                    <td class="bestpickcolumn" colspan="2">
                      <div class="specsleft">
                        <a href="#" class="specstooltip">
                          <img class="specsrankimage" src="/images/results/rank1.png" />
                          <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                        </a>
                        <a href="#" class="specstooltip">
                          <h5 class="specsname">Carte graphique</h5>
                          <p class="specsvalue">Mobility Radeon HD 5310</p>
                          <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                        </a>
                      </div>
                      <div class="specsright">
                        <a href="#" class="specstooltip">
                          <p class="specscore colorid4">75<small>%</small></p>
                          <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                        </a>
                      </div>
                    </td>
                    <td class="bestpickvspacer" />
                      <td class="bestpickcolumn" colspan="2">
                        <div class="specsleft">
                          <a href="#" class="specstooltip">
                            <img class="specsrankimage" src="/images/results/rank1.png" />
                            <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                          </a>
                          <a href="#" class="specstooltip">
                            <h5 class="specsname">Carte graphique</h5>
                            <p class="specsvalue">Mobility Radeon HD 5310</p>
                            <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                          </a>
                        </div>
                        <div class="specsright">
                          <a href="#" class="specstooltip">
                            <p class="specscore colorid5">89<small>%</small></p>
                            <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                          </a>
                        </div>
                      </td>
                      <td class="bestpickvspacer" /><td class="bestpickcolumn" colspan="2">
                          <div class="specsleft">
                            <a href="#" class="specstooltip">
                              <img class="specsrankimage" src="/images/results/rank1.png" />
                              <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                            </a>
                            <a href="#" class="specstooltip">
                              <h5 class="specsname">Carte graphique</h5>
                              <p class="specsvalue">Mobility Radeon HD 5310</p>
                              <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                            </a>
                          </div>
                          <div class="specsright">
                            <a href="#" class="specstooltip">
                              <p class="specscore colorid8">143<small>%</small></p>
                              <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                            </a>
                          </div>
                        </td>
                      </tr>
                      <%# Rang de d'espacement (lisere degrade) %>
                      <tr>
                        <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                          <td class="bestpickvspacer" />
                            <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                              <td class="bestpickvspacer" />
                                <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                </tr>
                                <%# Rang pour la 2e carac %>
                                <tr>
                                  <td class="bestpickcolumn" colspan="2">
                                    <div class="specsleft">
                                      <a href="#" class="specstooltip">
                                        <img class="specsrankimage" src="/images/results/rank2.png" />
                                        <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                      </a>
                                      <a href="#" class="specstooltip">
                                        <h5 class="specsname">Carte graphique</h5>
                                        <p class="specsvalue">Mobility Radeon HD 5310</p>
                                        <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                      </a>
                                    </div>
                                    <div class="specsright">
                                      <a href="#" class="specstooltip">
                                        <p class="specscore colorid4">75<small>%</small></p>
                                        <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                      </a>
                                    </div>
                                  </td>
                                  <td class="bestpickvspacer" />
                                    <td class="bestpickcolumn" colspan="2">
                                      <div class="specsleft">
                                        <a href="#" class="specstooltip">
                                          <img class="specsrankimage" src="/images/results/rank2.png" />
                                          <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                        </a>
                                        <a href="#" class="specstooltip">
                                          <h5 class="specsname">Carte graphique</h5>
                                          <p class="specsvalue">Mobility Radeon HD 5310</p>
                                          <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                        </a>
                                      </div>
                                      <div class="specsright">
                                        <a href="#" class="specstooltip">
                                          <p class="specscore colorid5">89<small>%</small></p>
                                          <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                        </a>
                                      </div>
                                    </td>
                                    <td class="bestpickvspacer" /><td class="bestpickcolumn" colspan="2">
                                        <div class="specsleft">
                                          <a href="#" class="specstooltip">
                                            <img class="specsrankimage" src="/images/results/rank2.png" />
                                            <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                          </a>
                                          <a href="#" class="specstooltip">
                                            <h5 class="specsname">Carte graphique</h5>
                                            <p class="specsvalue">Mobility Radeon HD 5310</p>
                                            <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                          </a>
                                        </div>
                                        <div class="specsright">
                                          <a href="#" class="specstooltip">
                                            <p class="specscore colorid8">143<small>%</small></p>
                                            <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                          </a>
                                        </div>
                                      </td>
                                    </tr>
                                    <%# Rang de d'espacement (lisere degrade) %>
                                    <tr>
                                      <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                        <td class="bestpickvspacer" />
                                          <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                            <td class="bestpickvspacer" />
                                              <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                              </tr>
                                              <%# Rang pour la 3e carac %>
                                              <tr>
                                                <td class="bestpickcolumn" colspan="2">
                                                  <div class="specsleft">
                                                    <a href="#" class="specstooltip">
                                                      <img class="specsrankimage" src="/images/results/rank3.png" />
                                                      <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                    </a>
                                                    <a href="#" class="specstooltip">
                                                      <h5 class="specsname">Carte graphique</h5>
                                                      <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                      <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                    </a>
                                                  </div>
                                                  <div class="specsright">
                                                    <a href="#" class="specstooltip">
                                                      <p class="specscore colorid4">75<small>%</small></p>
                                                      <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                    </a>
                                                  </div>
                                                </td>
                                                <td class="bestpickvspacer" />
                                                  <td class="bestpickcolumn" colspan="2">
                                                    <div class="specsleft">
                                                      <a href="#" class="specstooltip">
                                                        <img class="specsrankimage" src="/images/results/rank3.png" />
                                                        <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                      </a>
                                                      <a href="#" class="specstooltip">
                                                        <h5 class="specsname">Carte graphique</h5>
                                                        <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                        <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                      </a>
                                                    </div>
                                                    <div class="specsright">
                                                      <a href="#" class="specstooltip">
                                                        <p class="specscore colorid5">89<small>%</small></p>
                                                        <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                      </a>
                                                    </div>
                                                  </td>
                                                  <td class="bestpickvspacer" /><td class="bestpickcolumn" colspan="2">
                                                      <div class="specsleft">
                                                        <a href="#" class="specstooltip">
                                                          <img class="specsrankimage" src="/images/results/rank3.png" />
                                                          <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                        </a>
                                                        <a href="#" class="specstooltip">
                                                          <h5 class="specsname">Carte graphique</h5>
                                                          <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                          <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                        </a>
                                                      </div>
                                                      <div class="specsright">
                                                        <a href="#" class="specstooltip">
                                                          <p class="specscore colorid8">143<small>%</small></p>
                                                          <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                        </a>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  <%# Rang de d'espacement (lisere degrade) %>
                                                  <tr>
                                                    <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                                      <td class="bestpickvspacer" />
                                                        <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                                          <td class="bestpickvspacer" />
                                                            <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                                            </tr>
                                                            <%# Rang pour la 4e carac %>
                                                            <tr>
                                                              <td class="bestpickcolumn" colspan="2">
                                                                <div class="specsleft">
                                                                  <a href="#" class="specstooltip">
                                                                    <img class="specsrankimage" src="/images/results/rank4.png" />
                                                                    <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                                  </a>
                                                                  <a href="#" class="specstooltip">
                                                                    <h5 class="specsname">Carte graphique</h5>
                                                                    <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                                    <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                                  </a>
                                                                </div>
                                                                <div class="specsright">
                                                                  <a href="#" class="specstooltip">
                                                                    <p class="specscore colorid4">75<small>%</small></p>
                                                                    <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                                  </a>
                                                                </div>
                                                              </td>
                                                              <td class="bestpickvspacer" />
                                                                <td class="bestpickcolumn" colspan="2">
                                                                  <div class="specsleft">
                                                                    <a href="#" class="specstooltip">
                                                                      <img class="specsrankimage" src="/images/results/rank4.png" />
                                                                      <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                                    </a>
                                                                    <a href="#" class="specstooltip">
                                                                      <h5 class="specsname">Carte graphique</h5>
                                                                      <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                                      <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                                    </a>
                                                                  </div>
                                                                  <div class="specsright">
                                                                    <a href="#" class="specstooltip">
                                                                      <p class="specscore colorid5">89<small>%</small></p>
                                                                      <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                                    </a>
                                                                  </div>
                                                                </td>
                                                                <td class="bestpickvspacer" /><td class="bestpickcolumn" colspan="2">
                                                                    <div class="specsleft">
                                                                      <a href="#" class="specstooltip">
                                                                        <img class="specsrankimage" src="/images/results/rank4.png" />
                                                                        <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                                      </a>
                                                                      <a href="#" class="specstooltip">
                                                                        <h5 class="specsname">Carte graphique</h5>
                                                                        <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                                        <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                                      </a>
                                                                    </div>
                                                                    <div class="specsright">
                                                                      <a href="#" class="specstooltip">
                                                                        <p class="specscore colorid8">143<small>%</small></p>
                                                                        <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                                      </a>
                                                                    </div>
                                                                  </td>
                                                                </tr>
                                                                <%# Rang de d'espacement (lisere degrade) %>
                                                                <tr>
                                                                  <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                                                    <td class="bestpickvspacer" />
                                                                      <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                                                        <td class="bestpickvspacer" />
                                                                          <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                                                          </tr>
                                                                          <%# Rang pour la 5e carac %>
                                                                          <tr>
                                                                            <td class="bestpickcolumn" colspan="2">
                                                                              <div class="specsleft">
                                                                                <a href="#" class="specstooltip">
                                                                                  <img class="specsrankimage" src="/images/results/rank5.png" />
                                                                                  <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                                                </a>
                                                                                <a href="#" class="specstooltip">
                                                                                  <h5 class="specsname">Carte graphique</h5>
                                                                                  <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                                                  <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                                                </a>
                                                                              </div>
                                                                              <div class="specsright">
                                                                                <a href="#" class="specstooltip">
                                                                                  <p class="specscore colorid4">75<small>%</small></p>
                                                                                  <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                                                </a>
                                                                              </div>
                                                                            </td>
                                                                            <td class="bestpickvspacer" />
                                                                              <td class="bestpickcolumn" colspan="2">
                                                                                <div class="specsleft">
                                                                                  <a href="#" class="specstooltip">
                                                                                    <img class="specsrankimage" src="/images/results/rank5.png" />
                                                                                    <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                                                  </a>
                                                                                  <a href="#" class="specstooltip">
                                                                                    <h5 class="specsname">Carte graphique</h5>
                                                                                    <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                                                    <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                                                  </a>
                                                                                </div>
                                                                                <div class="specsright">
                                                                                  <a href="#" class="specstooltip">
                                                                                    <p class="specscore colorid5">89<small>%</small></p>
                                                                                    <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                                                  </a>
                                                                                </div>
                                                                              </td>
                                                                              <td class="bestpickvspacer" /><td class="bestpickcolumn" colspan="2">
                                                                                  <div class="specsleft">
                                                                                    <a href="#" class="specstooltip">
                                                                                      <img class="specsrankimage" src="/images/results/rank5.png" />
                                                                                      <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                                                    </a>
                                                                                    <a href="#" class="specstooltip">
                                                                                      <h5 class="specsname">Carte graphique</h5>
                                                                                      <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                                                      <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                                                    </a>
                                                                                  </div>
                                                                                  <div class="specsright">
                                                                                    <a href="#" class="specstooltip">
                                                                                      <p class="specscore colorid8">143<small>%</small></p>
                                                                                      <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                                                    </a>
                                                                                  </div>
                                                                                </td>
                                                                              </tr>
                                                                              <%# Rang de d'espacement (lisere degrade) %>
                                                                              <tr>
                                                                                <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                                                                  <td class="bestpickvspacer" />
                                                                                    <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                                                                      <td class="bestpickvspacer" />
                                                                                        <td class="bestpickcolumn bestpickhspacer" colspan="2" />
                                                                                        </tr>
                                                                                        <%# Rang pour la 6e carac %>
                                                                                        <tr>
                                                                                          <td class="bestpickcolumn" colspan="2">
                                                                                            <div class="specsleft">
                                                                                              <a href="#" class="specstooltip">
                                                                                                <img class="specsrankimage" src="/images/results/rank6.png" />
                                                                                                <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                                                              </a>
                                                                                              <a href="#" class="specstooltip">
                                                                                                <h5 class="specsname">Carte graphique</h5>
                                                                                                <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                                                                <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                                                              </a>
                                                                                            </div>
                                                                                            <div class="specsright">
                                                                                              <a href="#" class="specstooltip">
                                                                                                <p class="specscore colorid4">75<small>%</small></p>
                                                                                                <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                                                              </a>
                                                                                            </div>
                                                                                          </td>
                                                                                          <td class="bestpickvspacer" />
                                                                                            <td class="bestpickcolumn" colspan="2">
                                                                                              <div class="specsleft">
                                                                                                <a href="#" class="specstooltip">
                                                                                                  <img class="specsrankimage" src="/images/results/rank6.png" />
                                                                                                  <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                                                                </a>
                                                                                                <a href="#" class="specstooltip">
                                                                                                  <h5 class="specsname">Carte graphique</h5>
                                                                                                  <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                                                                  <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                                                                </a>
                                                                                              </div>
                                                                                              <div class="specsright">
                                                                                                <a href="#" class="specstooltip">
                                                                                                  <p class="specscore colorid5">89<small>%</small></p>
                                                                                                  <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                                                                </a>
                                                                                              </div>
                                                                                            </td>
                                                                                            <td class="bestpickvspacer" /><td class="bestpickcolumn" colspan="2">
                                                                                                <div class="specsleft">
                                                                                                  <a href="#" class="specstooltip">
                                                                                                    <img class="specsrankimage" src="/images/results/rank6.png" />
                                                                                                    <span><p class="specstooltip">Les caract&eacute;ristiques techniques qui comptent le plus pour vous, dans l&#39;ordre d&#39;importance.</p></span>
                                                                                                  </a>
                                                                                                  <a href="#" class="specstooltip">
                                                                                                    <h5 class="specsname">Carte graphique</h5>
                                                                                                    <p class="specsvalue">Mobility Radeon HD 5310</p>
                                                                                                    <span><p class="specstooltip">La carte graphique fabrique les images qui s&#39;affichent sur votre &eacute;cran. Elle est surtout utilis&eacute;e pour les jeux vid&eacute;o en 3D et un peu pour la lecture de films en HD.</p></span>
                                                                                                  </a>
                                                                                                </div>
                                                                                                <div class="specsright">
                                                                                                  <a href="#" class="specstooltip">
                                                                                                    <p class="specscore colorid8">143<small>%</small></p>
                                                                                                    <span><p class="specstooltip">Ce score vous dit si cette caract&eacute;ristique est suffisante pour vous. &Agrave; 100&#37;, vous avez la configuration recommand&eacute;e !</p></span>
                                                                                                  </a>
                                                                                                </div>
                                                                                              </td>
                                                                                            </tr>
                                                                                          </tbody>
                                                                                          <%# Bouton pour afficher ou masquer les caracteristiques completes %>
                                                                                          <tbody id="ExpandButton"></tbody>
                                                                                          <tbody id="HideButton"></tbody>
                                                                                        </table> 
                                                                                      </div>	
                                                                                    </div>
                                                                                  </div>
