<tbody id="ExpandButton">
  <tr>
    <td colspan='8' class='toggle'>
      <%= link_to_toggle_star_details "open", t_safe(:toggle_expand) %>
    </td>
  </tr>
</tbody>
<tbody id="HideButton">
  <tr>
    <td colspan='8' class='toggle'>
      <%= link_to_toggle_star_details "close", t_safe(:toggle_collapse) %>
    </td>
  </tr>
</tbody>
