<tbody id="ExpandButton">
  <tr>
    <td colspan='8' class='toggle'>
      <a href='#'><%= t_safe :toggle_expand %></a>
    </td>
  </tr>
</tbody>
<tbody id="HideButton">
  <tr>
    <td colspan='8' class='toggle'>
      <a href='#'><%= t_safe :toggle_collapse %></a>
    </td>
  </tr>
</tbody>
