<tbody id="ExpandButton">
  <tr>
    <td colspan='8' class='toggle'>
      <a href='#'>&#62; Pourquoi recommandons-nous ces PC ? Cliquez ici &#60;</a>
    </td>
  </tr>
</tbody>
<tbody id="HideButton">
  <tr>
    <td colspan='8' class='toggle'>
      <a href='#'>&#62; Cacher le d&eacute;tail des notes &#60;</a>
    </td>
  </tr>
</tbody>
