<%= render 'vspacer', :is_first_column => is_first_column %>
<td class="score_price" colspan="2">
  <%= render 'score_box', :product_scored => p %>
  <%= render 'price_box', :product_scored => p%>
</td>

