<% is_first_column = true -%>
<% star_products.each do |p| -%>
  <% product = Product.find(p.product_id) %>
  <%= render 'vspacer', :is_first_column => is_first_column  %>
  <td class="bestpickcolumn" colspan="2">
  <% is_first_column = false -%>
    <p>Accès direct au marchand le moins cher :</p>
    <% retailer = product.offers.order("price asc").first %>
    <%= retailer_url = retailer.retailers[:logo_url] %>  
  <%= link_to_suggestion product do %>
    <div class="productbutton">
      <h4><%= t :bestpick_button %></h4>
    </div>
  <% end -%>
  </td>
<% end -%>

