<%= content_for :head do %>

  <title>Mentions légales du site Choisir Facile</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="language" content="fr" />
  <meta name="description" content="Choisir Facile vous aide à trouver le PC qui vous convient" />
  <meta name="keywords" content="PC portable" />

  <%= include_stylesheets :basic %>
<% end %>

<div id="page_wrapper">
  <div id="page_content">
    <h1>Informations légales</h1>
    <p>Le site www.choisirfacile.fr est édité par la société Spenta, S.A.S au capital de 168 498€</p>
    <ul>
      <li>Raison sociale : Spenta</li>
      <li>Responsable editorial: Youssef Sakr</li>
      <li>Webmaster: Vincent Porcel</li>
      <li>Siège social: 14 rue Soleillet, 75020 Paris, France</li>
      <li>N° de téléphone : +33 (0)6 98 99 08 87</li>
      <li>N° SIREN : 512 577 974 RCS Paris </li>
      <li>N° TVA intracommunautaire : FR 15512577974</li>
    </ul>

    <p>Le site www.choisirfacile.fr est hébergé par la société Engine Yard : PO Box 77130 San Francisco, CA 94107, USA</p>
  </div>
</div>
