<!DOCTYPE html>
<html>
<head>
  <title>WizardRails</title>
  <%= javascript_include_tag :all, :recursive => true %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>

<%= yield %>

</body>
</html>
